.container2
  %h1 Bio
  =image_tag("kevin_painting.jpg", :class => 'album')
  %p
    Agent (Kevin) Mooney is an independent music producer whose music is “enthusiastic with pure lyrics and nice vocals, married to beautiful melodies ranging from Country Rock to Classical Rock and driving around Pop Music.”  Carlos Vaz

  %p
    The best musicians available make the best music.  Whether Jim Horn, Dave Pomeroy, Rick Lonow, Nate Barrett from Nashville or Dave Levit, Billy Corston, & Tony Wittrock from Chicagoland Area. Musicians on the Agent Mooney CD are all first rate as musicians,

  %p
    Agent (Kevin) Mooney a former school social worker found songwriting helps him deal with human stories encountered on a daily basis.

  %p
    The band name “Agent Mooney” was created when Mooney discovered one of his students’ was a victim of a pedophile. Mooney and the student’s teacher spoke in code to avoid singling out the student.  The coded language became so integral that outside of school Mooney soon became referred to as Agent Mooney.  The nickname stuck and so became a band name.

  %p
    The writers’ credo is to always write about what you know. Kevin “Agent” Mooney knows 30 plus years experience. As a school social worker & draws upon that as well as his own life experiences to weave his songs and stories.

  %p
    Mooney’s 4 cd’s have included Scott Flesher (childhood friend and guitarist). Working with Scott on musical compositions since an early age (from church services thru to coffee house performances to the stage) friendship has thrived throughout the years.

  %p
    Graduating NIU with an area of concentration in music Mooney played coffee houses, and parties while working as a teachers assistant at Glenrook South High School.  He received his MSW Social Work Degree from the U of Illinois while continuing to record his own compositions.

  %p
    Mooney’s resume is equally complex as he has worked as a, janitor, assembly line worker, library assistant, food service worker, and vocational job developer in addition to his social work gig.
