.container2
  %h1 Bio
  =image_tag("agent_mooney_painting.jpg", :class => 'album')
  %p
    Agent (Kevin) Mooney is an independent music producer whose music is “enthusiastic with pure lyrics and nice vocals, married to beautiful melodies ranging from Country Rock to Classical Rock and driving around Pop Music.” Carlos Vaz

  %p
    Mooney’s resume reflects his diversity.  He has been a camp bus driver, grocery store clerk, janitor, assembly line worker, library assistant, food service worker, vocational job developer, and for over 30 years, a school social worker.  His experiences manifest in his songs, and stories flow from the tapestry of those life experiences.

  %p
    Musicians on the Agent Mooney CD are some of the finest players and human beings on the planet.  The people involved in his CDs cross the country, from Nashville to Chicago to LA to Washington.
