.container
  .row
    #myCarousel.carousel.slide
      %ol.carousel-indicators
        %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
        %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
      / Carousel items
      .carousel-inner
        .active.item
          =image_tag("albums/9_miles_472x472.png")
          .caption
            %h3 9 Miles of Good Road
            %p 
              music for the road
              .div{:style => "width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);"}
                =link_to "", 'http://www.cdbaby.com/cd/agentmooney4', :style => "display:block; width:125px; height:40px; margin:0; border:0;", :target => "blank"
        .item
          =image_tag("albums/rockaway_moon_2_472x472.png")
          .caption
            %h3 Rockaway Moon 2
            %p 
              Rock n roll music with romance
              .div{:style => "width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);"}
                =link_to "", 'http://www.cdbaby.com/cd/agentmooney5', :style => "display:block; width:125px; height:40px; margin:0; border:0;", :target => "blank"

        .item
          =image_tag("albums/big_plans_no_money_472x472.png")
          .caption
            %h3 Big Plans No Money
            %p
              The musician's dream of
              .div{:style => "width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);"}
                =link_to "", 'http://www.cdbaby.com/cd/agentmooney2', :style => "display:block; width:125px; height:40px; margin:0; border:0;", :target => "blank"

        .item
          =image_tag("albums/shades_cdbaby_472x472.png")
          .caption
            %h3 Shades
            %p
              Musical colors that create
              .div{:style => "width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);"}
                =link_to "", 'http://www.cdbaby.com/cd/agentmooney', :style => "display:block; width:125px; height:40px; margin:0; border:0;", :target => "blank"

        .item
          =image_tag("albums/rockaway_moon_1_472x472.png")
          .caption
            %h3 Rockaway Moon
            %p
              The romance of a full moon
              .div{:style => "width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);"}
                =link_to "", 'http://www.cdbaby.com/cd/agentmooney3', :style => "display:block; width:125px; height:40px; margin:0; border:0;", :target => "blank"

      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›


    / <div style='width:170px; height:40px; margin:0; padding:0; border:0; background-image:url(http://www.cdbaby.com/Images/Links/linkmkr_btn7_buyalbum.png);'><a href='http://www.cdbaby.com/cd/agentmooney4' style='display:block; width:125px; height:40px; margin:0; border:0;'></a></div>
