#myCarousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "3", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "4", "data-target" => "#myCarousel"}
  / Carousel items
  .carousel-inner
    .active.item
      
      %a
        %img{ :src => "assets/albums/9_miles_472x472.png", :class => "carousel-img"}
      .caption
        %h3 9 Miles of Good Road
        %p music for the road 
    .item
      %a
        %img{ :src => "assets/albums/big_plans_no_money.png", :alt => "Gather Rich Content" }
    .item
      %a
        %img{ :src => "assets/albums/rockaway_moon.png", :alt => "Gather Rich Content" }
    .item
      %a
        %img{ :src => "assets/albums/shades.png", :alt => "Gather Rich Content" }
    .item
      %a
        %img{ :src => "assets/albums/rockaway_moon_2.png", :alt => "Gather Rich Content" }
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›



/ #myCarousel.carousel.slide
/ / Carousel items
/ .carousel-inner
/   .active.item
/     %a
/       %img{ :src => "assets/albums/9_miles.png", :alt => "Gather Rich Content" }
/   .item
/     %a
/       %img{ :src => "assets/albums/big_plans_no_money.png", :alt => "Gather Rich Content" }

/ / Carousel nav
/ %a.left.carousel-control{ :href => "#myCarousel", :"data-slide" => "prev" } &lsaquo;
/ %a.right.carousel-control{ :href => "#myCarousel", :"data-slide" => "next" } &rsaquo;
