%section
  %h1 agent mooney is music
%table
  %tr
    %td
      =image_tag "albums/9_miles.png", :class => 'album-cover'
    %td.transparent-burgundy
      %h2 music for the road
    %td
      =image_tag "albums/big_plans_no_money.png", :class => 'album-cover'
    %td.transparent-brown
      %h2 the musician's dream
  %tr
    %td.transparent-blue
      %h2 rock 'n roll music with romance
    %td
      =image_tag "albums/rockaway_moon.png", :class => 'album-cover'
    %td.transparent-teal
      %h2 musical colors that create
    %td
      =image_tag "albums/shades.png", :class => 'album-cover'

