.container
  %h1 Home
  %p
    The writers’ credo is to always write about what you know. 
    Kevin “Agent” Mooney is writing about his over 30 years experiences as a school social worker as well as his own life experiences.
  %p
    The 55-year-old social worker has played venues since the tender age of 10.  Mooney has worked as a social worker, janitor, assembly line worker, library assistant, food service worker, and vocational rehabilitation specialist.  
  %p
    Locally Mooney attended St. James Elementary School, 
    St.Viator High School,  as well as the now defunct Arlington High School.  He is still in touch with fellow classmate and musical coconspirator Scott Flesher.
  %p
    Graduating NIU with an area of concentration in music Mooney played coffee houses, and parties while working as a teachers assistant at Glenrook South High School.  He received his MSW Social Work Degree f rom the U of I while continuing to record his own compositions.