.container2
  %h1 Music
  %p
    9 Miles of Good Road is a wonderful, fresh new CD with great originals and very listenable takes on familiar favorites. Talented musicians from Chicago and Nashville came together to work on Agent Mooney’s 4th CD.
  %p
    Guest appearances from Nashville area include Bassist/Producer Dave Pomeroy (Three Ring Circle/Don Williams), Percussionist Rick Lonow (Flying Burrito Brothers/Poco), Nate Barrett, Ganjo/12 string guitarist/ Producer & Daniel Dennis utility musician/tracking engineer. Gordon Hammond (Shawn Colvin/Robert Plant/Don Williams) mixed the project at Quad Studios Nashville.
  %p
    The Chicagoland contingent Bassist Billy C. Corston (Jay and the Americans/ Screamin End), Guitarist Tony Wittrock (Screamin End/The Honeybees), & Drummer Bill Cremer took the pilgrimage down to Tennessee.Sunny Nam of the Mastering Lab finished mastering in CA.
  %p
    This perfect driving CD contains original interpretations of What Becomes of the Brokenhearted, Listen to the Music, Hearts on Fire, Small Town Saturday Night, I’m A Man, and San Francisco Bay Blues, as well as Mooney’s original compositions.
