/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

$white: #fff
$skyblue: #1874cd
$border: solid 1px $skyblue

body
  /* background: url('background_trees.jpg') 50% */
  background-color: #3b1311

.container
  background: rgba(255, 255, 255, .8)  /* rgba(0, 148, 219, .3) */
  border-bottom: solid 20px #680000
  border-left: solid 1px #680000
  border-right: solid 1px #680000
  border-top: solid 20px #680000
  margin: 50px auto
  padding: 30px 0
  width: 80%

.social-links
  background: #680000
  border-radius: 0 0 5px 5px
  color: white
  float: right
  margin: -30px 20px
  padding: 5px

.social-img
  width: 25px

.container2
  background: #fff
  margin: 0 auto
  padding: 20px
  width: 90%

.logo
  width: 200px

a.img-link:hover
  background: none

.home-img, .main-album-img
  margin: 0
  width: 100%

.home-img
  float: left
  margin: 0 20px 0 0

.img-div
  width: 40%

nav
  background: #680000
  margin: 30px auto 0 auto
  width: 100%

ul
  float: right
  height: 25px
  width: 100%

@media all and(min-width: 600px)
  ul
    width: 50%

nav:before, nav:after, ul:before, ul:after, .container2:before, .container2:after
  content: ""
  display: table

nav:after, ul:after, .container2:after
  clear: both

li
  background: #680000
  float: left
  font-size: 1em
  list-style: none
  margin: 0
  padding: 5px

a:link, a:visited, a:active
  color: $white
  font: 500 1em "Oxygen", sans-serif
  padding: 5px 10px
  text-decoration: none
  text-transform: uppercase

a:hover
  background: #f26919
  color: black
  padding: 5px 10px

h1, p
  color: #333

h1
  font: 700 1.25em "Oxygen", sans-serif

p
  font: 500 1em "Oxygen", sans-serif
  line-height: 1.5em
