/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

$white: #fff
$skyblue: #1874cd
$border: solid 1px $skyblue

body
  background: url('background_trees.jpg') 50%

.container
  background: $white
  margin: 50px auto
  padding: 30px 10px
  width: 80%

.logo
  display: block
  margin: 0 auto
  width: 250px

nav
  background: $skyblue
  height: 50px
  margin: 30px auto
  width: 100%

ul
  height: 25px
  margin: 0 auto
  width: 50%

nav:before, nav:after, ul:before, ul:after
  content: ""
  display: table

nav:after, ul:after
  clear: both

li
  background: $skyblue
  float: left
  font-size: 1em
  height: 30px
  list-style: none
  margin: 0
  padding: 10px 5px

a:link, a:visited, a:active
  color: $white
  font: 1em "Helvetica", sans-serif
  padding: 10px
  text-decoration: none
  text-transform: uppercase

a:hover
  background: orange
  color: $skyblue
  padding: 10px

h1, p
  color: #333

h1
  font: bold 1.5em "Helvetica", sans-serif

p
  font: 1em "Helvetica", sans-serif
