/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require navigation
 *= require layout
 *= require typography
 *= require_self
 *= require bootstrap_and_overrides

 *
 */

@import url(http://fonts.googleapis.com/css?family=Cedarville+Cursive);

.squeeze_marketing {
  background: rgba(255, 255, 255, 0.8);
/*  background-color: white;
*/  float: left;
  width: 64%;
  padding: 1%;
  margin-left: 10%;
  border-radius: 5px;
  font-size: 1em;
}

.social-links-container {
  width: 100%;
  height: auto;
}

.social-links-container:before, .social-links-container:after {
  content: "";
  display: table;
}

.social-links-container:after {
  clear:both;
}

