$white: #fff
$skyblue: #1874cd
$burgundy: #680000
$gray: #333
$border: solid 1px $skyblue
$oxygen500: 500 1em "Oxygen", sans-serif
$oxygen700: 700 1.25em "Oxygen", sans-serif
$sanchez: "Sanchez", sans-serif
$center: 0 auto

.logo-container
  margin: $center
  width: 25%

.logo-container:before, .logo-container:after
  content: ""
  display: table

.logo-container:after
  clear: both

.logo

.album-cover
  width: 100%

.album-list

.album-item
  background: $burgundy
  float: left
  width: 25%
