.span5
  Welcome to the “Agent” Mooney site & thanks for checking out my music!  Request your Free copy of my new single  “Crank It Up”. "Crank It Up"  is off the soon to be released  “Rockaway Moon 2.”  The magic touch of legendary saxophonist Jim Horn will have you rocking down the highway to this Agent Mooney's 5th CD. Rockaway Moon 2 has unique and interesting performances from best musicians from the music/windy cities. Recorded in Chicago and Nashville this CD was a labor of love. 
.span5
  It's gonna  leave a smile on your face.  So jump on this free limited time offer. Enter your name and email here ________________ and I’ll send you the free track right away. The free track download will not last forever. When you sign up,  a link for your free download will be sent to the email address you give me.  Download now before the free track offer is gone.                                                      
  %p
    Sincerely,
  Kevin “Agent” Mooney 