.span5
  %p
    Welcome to the “Agent” Mooney site & thanks for checking out my music!
  %p
    Recording “For Reel” was an unbelievable treat. By utilizing premier musical creativity, talent, and the studios in Nashville, the CD results were stratospheric. To prove it, let me give you a free download of the original song “Why Don’t We” from the CD.
  %p
    Place your name and email address in the assigned boxes and the free download will be coming your way shortly. This is a time limited offer so act now before the free track offer is gone.
  %p
    Sincerely, Kevin “Agent” Mooney 
=form_for SignUp.new do |f|
  =f.text_field :first_name, :placeholder => "First Name"
  =f.text_field :last_name, :placeholder => "Last Name"
  =f.text_field :email_address, :placeholder => "Email Address"

  =f.submit "Send Me My Free mp3!", :class => 'btn btn-large btn-custom'